# Configurations for hopper fuzzer

# Full path for header file
TEST_HEADER=/home/user2/Hopper/examples/libpcap/build-fuzz/include/pcap.h

# Full path to shared library
TEST_LIBRARY=/home/user2/Hopper/examples/libpcap/build-fuzz/lib/libpcap.so.1.10.1

# Output directory
OUT_DIR=output

# Custom rule for invoking API functions
CUSTOM_RULES=custom.rule

# Set map size
HOPPER_MAP_SIZE_POW2=18

# Set seeds
HOPPER_SEED_DIR=/home/user2/Hopper/examples/libpcap/seeds

# Set the header include path
HOPPER_INCLUDE_SEARCH_PATH=/home/user2/Hopper/examples/libpcap/build-fuzz/include
